.longe-bordas{
    background-color: #FFA6A9;
    margin-left:10%;
  }
  
  .afastado{
    background-color: #77C0ED;
    margin-left: 10%;
  }
  .alto{
    background-color: #C3E887;
    padding-top: 150px; 
    height: 150px;
    text-align: center;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  text-align: center;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: 1px dashed black;
  }
  
  .sumido{
    display: none;
  }