h1 {
    color: white;
    background-color: blue; 
    display: inline;
    font-size: clamp(1rem, 3vw, 2rem)   
}

h2 {
    background-color: yellow; 
    margin-right: 57.2%;   
}

section {
    background-color: green; 
    margin-right: 57.2%;   
}

.titulo-secao{
    color: white;     
}
.titulo-pouco-importante{
    color: white; 
    background-color: black; 
    margin-right: 57.2%;     
}